<style type="text/css">
ul li {
	list-style: none;
}

ul li:nth-child(odd) {
	-webkit-animation-name: appear-odd; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-odd;
	animation-duration: 1s;
}

ul li:nth-child(even) {
	-webkit-animation-name: appear-even; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-even;
	animation-duration: 2s;
}

.content-inner-title {
	-webkit-animation-name: delay; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: delay;
	animation-duration: 2s;
}

.top-header {
	-webkit-animation-name: header; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: header;
	animation-duration: 2s;
}
/* Chrome, Safari, Opera */
@
keyframes header {from { opacity:0;
	margin-left: 240px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
@
keyframes appear-odd {from { opacity:0;
	padding-left: 40px;
}

to {
	opacity: 1;
	padding-left: 0px;
}

}
@
keyframes appear-even {from { opacity:0;
	padding-top: 100px;
}

to {
	opacity: 1;
	padding-top: 0px;
}

}
@
keyframes delay {from { opacity:0;
	margin-top: -100px;
}

to {
	opacity: 1;
	margin-top: 0px;
}
}
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 f-about">
	<h3 class="top-header">CAREER</h3>
	<img src="images/hd-border.png"><br> <br>
	<div class="f-about-content" style="font-family: cambria">
		<div class="content-inner-title">
			<h3>Opportunity Announcement</h3>
		</div>

		<ul>
			<li>Tele-Correspondence Sales and Customer Care Executives –
				Male/Female</li>

			<li>Qualified Applicants are urged to Present their Resumes at
				admin@indiazbridal.com</li>

			<li>Fresh Graduates are Encouraged to Apply.</li>
		</ul>
		<div class="content-inner-title">
			<h4>Job Description/ Responsibilities</h4>
		</div>

		<ul>
			<li>&emsp;a). Effectively Manage Incoming / Outgoing Calls.</li>
			<li>&emsp;b). Generate Sales Leads.</li>
			<li>&emsp;c). Identify and assess Customer's Needs to Achieve
				Satisfaction.</li>
			<li>&emsp;d). Handle Complaints, Provide Appropriate Solutions
				and Alternatives within the Time Limits and Follow up to Ensure
				Resolution.</li>
			<li>&emsp;e). Keep Records of Customer Interactions, Process
				Customer Accounts and file Documents.</li>
			<li>&emsp;f). Follow Communication Procedures, Guidelines and
				Policies.</li>
			<li>&emsp;g). Take the Extra Mile to Engage Customers.</li>
			<li>&emsp;h). Qualifications: Graduation in any Discipline.
				Language Skills, Ability to Read and Comprehend Simple Instructions,
				Short Correspondence, Along with the Ability to write
				Correspondence.</li>

			<li><b>Remuneration: </b><br> It would be ideal if you take
				note of that the offer made to the Choose Competitor might be
				Similar with Capabilities, Experience and Pay History.</li>

			<li><b>Regards, <br> IndiazBridal.Com
			</b></li>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>
