<div class="footer-div">
	<div ng-if="mc.$rootScope.isHome"
		class="col-lg-12 col-md-12 col-sm-12 col-xs-12 premium">
		<!--<h2 class="col-lg-9 col-md-9 col-sm-9 col-xs-7">Become a Premium
			Member And Enjoy Added Advantage...</h2>-->
		<!--  <a ng-if="true" class="col-lg-2 col-md-2 col-sm-2 col-xs-5"
			href="#memberShip">Know More</a>-->
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-div-opt">
		<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xs-12 ib-ft-con">
			<h4 class="text-center">Company</h4>
			<ul>
				<li><a class="ft-pd" href="#about/IndiaBridal"
					ng-click="mc.scrollToTop(true)">About IndiazBridal</a><br></li>
				<li><a class="ft-pd" href="#blog"
					ng-click="mc.scrollToTop(true)">Blog</a><br></li>
				<li><a class="ft-pd" href="#career"
					ng-click="mc.scrollToTop(true)">Career</a><br></li>
				<li><a class="ft-pd" href="#contact-us"
					ng-click="mc.scrollToTop(true)">Contact us</a><br></li>
				<li><a class="ft-pd" href="#site-map"
					ng-click="mc.scrollToTop(true)">Site Map</a><br></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xs-12 ib-ft-con">
			<h4 class="text-center">Need Help</h4>
			<ul>
				<li><a class="ft-pd" href="#faq"
					ng-click="mc.scrollToTop(true);mc.enableDisableList('FAQ\'s')">FAQ's</a><br></li>
				<li><a class="ft-pd" href="#faq"
					ng-click="mc.scrollToTop(true);mc.enableDisableList('Registration \ Login')">Login
						/ Register</a><br></li>
				<li><a class="ft-pd" href="#faq"
					ng-click="mc.scrollToTop(true);mc.enableDisableList('Membership')">Premium
						Membership</a><br></li>
				<li><a class="ft-pd" href="#faq"
					ng-click="mc.scrollToTop(true);mc.enableDisableList('Technical Issues')">Support</a><br></li>
				<li><a class="ft-pd" href="#faq"
					ng-click="mc.scrollToTop(true);mc.enableDisableList('FAQ\'s')">How
						To Use</a><br></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xs-12 ib-ft-con">
			<h4 class="text-center">Policies</h4>
			<ul>
				<li><a class="ft-pd" href="#t&c"
					ng-click="mc.scrollToTop(true)">Terms of Use</a><br></li>
				<li><a class="ft-pd" href="#policy"
					ng-click="mc.scrollToTop(true)">Privacy Policy</a><br></li>
				<li><a class="ft-pd" href="#security-tips"
					ng-click="mc.scrollToTop(true)">Security Tips</a><br></li>
			</ul>
		</div>
		<!--<div class="col-md-3 col-xs-6 ib-ft-con text-center">
			<h4 class="text-center">Stay connected</h4>
			<img src="images/footer-link-img1.png">
			<img src="images/footer-link-img2.png">
			<img src="images/footer-link-img3.png">
			<img src="images/footer-link-img4.png">
			<img src="images/footer-link-img5.png">
		</div> -->
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copy-right">
		<h5>All Rights Reserved © 2016 IndiazBridal</h5>
	</div>
</div>