<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-info">
	Home >&nbsp; {{upc.$rootScope.activeNav}}</div>
<div class="profile-content">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<div class="profile-info">
			<span> Edit <a href="#profile/edit"
				ng-click="upc.$rootScope.activeNav='Edit Personal Info'"><img
					src="images/settings-cog.png"></a></span>
			<div class="user-pic">
				<img src="images/user-img.png">
			</div>
			<div class="user-info">
				<h4>
					<b>{{upc.currentUserProfileInfo.name}}</b>
				</h4>
				{{upc.currentUserProfileInfo.status}}
			</div>
			<div class="profile-progress"
				style="width: {{upc.currentUserProfileInfo.progress"></div>
			<div class="profile-percent">{{upc.currentUserProfileInfo.progress}}%</div>
			<!-- <div class="user-contact-status">
				<img src="images/user-contact1.png">
				<img src="images/user-contact2.png">
				<img src="images/user-contact3.png">
				<img src="images/user-prof-percent.png">
			</div> -->
		</div>
		<div class="profile-activity">
			<div class="prof-act-header">
				<span><b>Activity</b></span> <span><img
					src="images/shortList.png"></span>
			</div>
			<div class="activity-tree">
				<div class="tree-list"
					ng-class="{'f-tree-active' : val.isActive&&upc.$rootScope.activeNav.indexOf('Inbox')>-1}"
					ng-repeat="val in upc.activityList"
					ng-click="upc.setInboxMessageItem(val)">
					<a href="#inbox">{{val.name}}
						({{upc.currentUserProfileInfo[val.mapper].length}})</a>
				</div>
			</div>
		</div>
	</div>
	<div
		ng-init="upc.currentInboxItem = upc.currentUserProfileInfo['invitations'];upc.deactivateActiveList();upc.currentInboxItemLength = upc.currentInboxItem.length;"
		class="col-lg-8 col-md-8 col-sm-8 col-xs-8 inbox-cont">
		<!-- ng-if="upc.$rootScope.activeNav.indexOf('Inbox')>-1" -->
		<h4>Messages ({{upc.currentInboxItemLength}})</h4>
		<table class="col-lg-12">
			<thead>
				<tr>
					<th colspan=3 ng-if="!upc.showInboxContent"><span><input
							type="checkbox" ng-model="upc.isAllChecked"
							ng-click="upc.enableDisable(upc.isAllChecked)">&emsp;</span> <span
						ng-click="upc.deleteMessage()"><img src="images/trash.png">&nbsp;Delete</span>
						<span ng-click="upc.changeReadStatus(true)"><img
							src="images/read.png">&nbsp;Mark as Read</span> <span
						ng-click="upc.changeReadStatus(false)"><img
							src="images/unread.png">&nbsp;Mark as Unread</span></th>
					<th colspan=3 ng-if="upc.showInboxContent"><span ng-hide=true></span>
						<span ng-click="upc.showHideList([], true, false)"><img
							src="images/back.png">&nbsp;Back</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="item.showMail&&!upc.showInboxContent"
					ng-repeat="item in upc.currentInboxItem"
					ng-class="{'mail-unread':!item.isRead}">
					<td><input id="inner-check" ng-class="item.memberId"
						type="checkbox" ng-click="upc.checkLength()"></td>
					<td ng-click="upc.showHideList(item, false, true)"><label>{{item.name}}</label>&emsp;&emsp;&emsp;{{item.subject}}
						<label class="pull-right">{{item.date}}</label></td>
				</tr>
				<tr ng-if="upc.currentInboxItem.length===0">
					<td style="text-align: center" colspan=3>No Mails Found ..</td>
				</tr>
				<tr
					ng-if="upc.showInboxContent && (upc.$rootScope.activeNav==='Inbox > Invitations' || upc.$rootScope.activeNav==='Inbox > Request Sent')"
					class="view-cont">
					<td colspan=3><label> <font
							ng-if="upc.$rootScope.activeNav==='Inbox > Invitations'">From
						</font> <font ng-if="upc.$rootScope.activeNav==='Inbox > Request Sent'">To
						</font>
					</label>:&emsp;&emsp;&emsp;{{upc.currentMsgItem.name}} (<a
						href="#member-info" stlye="display:block"
						ng-click="upc.setCurrentMember(upc.currentMsgItem.displayId)">{{upc.currentMsgItem.displayId}})</a><br>
						<label> <font
							ng-if="upc.$rootScope.activeNav==='Inbox > Invitations'">Subject
						</font> <font ng-if="upc.$rootScope.activeNav==='Inbox > Request Sent'">Status
						</font>
					</label>:&emsp;&emsp;&emsp;{{upc.currentMsgItem.subject}} <br> <label>Message
					</label>:<br>
						<p>{{upc.currentMsgItem.message}}</p> <br> <br> <textarea
							ng-init="upc.replyMsg=''" ng-model="upc.replyMsg"
							class="col-lg-12"
							placeholder="Send in your message to {{upc.currentMsgItem.name}} ..."></textarea>
						<button ng-click="upc.replyMsg=''"
							ng-disabled="upc.replyMsg.length===0" class="pull-right">Cancel</button>
						<button ng-click="upc.replyMsg=''"
							ng-disabled="upc.replyMsg.length===0" class="pull-right">Send</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ad-banner">
		<img src="images/app-ad.png"><br> <a href="#memberShip"><img
			src="images/ad-banner-2.png"></a>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>