<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-info">
	Home >&nbsp; {{mic.$rootScope.activeNav}}</div>
<div class="member-content" style="margin: 5px 0 250px 0;">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 profile">
		<img
			ng-if="mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img'].length>0"
			ng-src="{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img'][mic.currentThumbnailIndex].url}}"
			data-toggle="modal" data-target="#myModal"> <img
			title="no pic available"
			ng-if="mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img'].length===0"
			src="images/noImage.png">
		<div class="mem-thumbnail">
			<img
				ng-if="mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img']"
				ng-class="(src.isActive)? 'active':''"
				ng-repeat="src in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img']"
				ng-src="{{src.url}}" ng-click="mic.changeCurrentProfImage($index)">
			<img
				ng-if="!mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['img']"
				src="images/noImage.png">
		</div>
		<h4>
			<b>{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["name"]}}</b>
		</h4>
		<!--Created by
		{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["createdby"]}}-->
		
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<button ng-disabled="mic.currentThumbnailModelIndex===0"
						class="pull-left left-nav" ng-click="mic.movePrevious('left')"><</button>
					<img class="main-img"
						src="{{mic.currentMemberProfileInfoModel[mic.$rootScope.searchMemberID]['img'][mic.currentThumbnailModelIndex].url}}"
						data-toggle="modal" data-target="#myModal">
					<button
						ng-disabled="mic.currentThumbnailModelIndex===mic.currentMemberProfileInfoModel[mic.$rootScope.searchMemberID]['img'].length-1"
						class="pull-right right-nav" ng-click="mic.movePrevious('right')">></button>
				</div>
				<div class="modal-footer">
					<div class="max-thumbnail mem-thumbnail">
						<b>Showing {{mic.currentThumbnailModelIndex+1}} of
							({{mic.currentMemberProfileInfoModel[mic.$rootScope.searchMemberID]['img'].length}})</b>
						<img ng-class="(src.isActive)? 'active':''"
							ng-repeat="src in mic.currentMemberProfileInfoModel[mic.$rootScope.searchMemberID]['img']"
							ng-src="{{src.url}}"
							ng-click="mic.changeCurrentModelProfImage($index)">
					</div>
				</div>
			</div>

		</div>
	</div>
	<div ng-if="mic.showLoader" class="laoder-container">
		<br> <br> <br> <span
			class="glyphicon glyphicon-repeat glyphicon-repeat-animate"></span><br>
		<br> Fetching the latest data..
	</div>
	<div ng-if="!mic.showLoader"
		class="col-lg-10 col-md-10 col-sm-10 col-xs-10 prof-detailed-view">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 member-like">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h4>Like this Member?</h4>
				<button class="btn" ng-click="mic.sendInterestAProfile()">Send
					Request</button>
				&emsp;
				<button class="btn" ng-click="mic.shortlistAProfile()">Shortlist</button>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 options">
				<div>
					<img src="images/call-sms.png"><br>View Mobile Number
				</div>
				<div>
					<img src="images/mail-her.png"><br>SMS
				</div>
				<!--  	<div><img src="images/chat.png"><br>Chat</div>-->
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 member-short-info">
			<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<tr>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/age.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["age"]}} yrs, {{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["height"]}} cm</td>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/edu.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["education"]}}</td>
				</tr>
				<tr>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/married.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["married"]}}</td>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/work.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["work"]}}</td>
				</tr>
				<tr>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/religion.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["religion"]}}, {{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["motherTongue"]}}</td>
					<td class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/location.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["location"]}}</td>
				</tr>
				<tr>
					<td  class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/community.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["community"]}}</td>
					<td  class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="images/food.png">&emsp;{{mic.currentMemberProfileInfo[mic.$rootScope.memberID]["food"]}}</td>
				</tr>
			</table>
		</div>	
	</div>
	<div ng-if="!mic.showLoader"
		class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<div class="temp-overlap"></div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 member-nav">
	<div ng-if="!mic.showLoader"
		class="col-lg-10 col-md-10 col-sm-10 col-xs-10 member-nav"
		ng-class="mic.epandView? 'expand-view' : ''">
		<tabset vertical="true" class="match-percent"> <tab
			ui-sref="user.list" ng-click="mic.epandView=true"> <tab-heading
			class="tab-header"> <a ui-sref-active="active"><img
			src="images/matches.png"> &nbsp; <b> Match %</b></a></tab-heading> <tab-content>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 preference"
			ng-init="mic.activeCount=0" style="margin:-100px;margin-bottom:15px;">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-right: 70px;">
				<img src="images/female-user.png">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="match-preference">{{mic.activeCount}} /	{{mic.rowCount}} of your preferences Matches</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<img src="images/male-user.png">
			</div>
			<table class="member-match-table" style="margin-left: 100px;">
				<tr>
					<th>Preference</th>
					<th>Criteria</th>
					<th>Matched</th>
				</tr>
				<tr ng-init="mic.getActiveCount(val.isMatched);"
					ng-repeat="(key, val) in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID].matchedValues">
					<td>{{key | uppercase}}</td>
					<td>{{val.currPrefVal}}</td>
					<td><span style="color: #ef4747"
						ng-if="val.isMatched==='false'" class="glyphicon glyphicon-remove"></span>
						<span style="color: #49d649" ng-if="val.isMatched==='true'"
						class="glyphicon glyphicon-ok"></span></td>
				</tr>
			</table>
		</div>
		</tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=false"> <tab-heading
			class="tab-header"> <a ui-sref-active="active"><img
			src="images/about.png"> &nbsp; <b>About & Family</b></a></tab-heading> <tab-content>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:-100px; margin-bottom:20px;">
			<h5>
				<b><u>About
						{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["name"]}}</u></b>
			</h5>
			<br>
			<b>
				{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["about"]}}
			</b> <br> <br> <b>
				{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["name"]}}
			</b> is
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID].age}}
			Years old. <b>
				{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["name"]}}
			</b> has
			completed{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]["degree"]}}
			& currently working
			in {{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]["job"]}}
			sector and
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]
			["salary"]}}. <br>
			<hr>
			<h4 title="Information About Family">
				<b><u>Family Info</u></b><br> <br>
			</h4>
			<span
				ng-repeat="(key, val) in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['family']">
				<b>{{key}} : </b> {{val}} <br> <br>
			</span>
			<h4>
				<b><u>Expecting</u><b>
			</h4>
			<br> <br> <span>{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["matchedProfileExpecs"]}}</span>
		</div>
		</tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=false"
			ng-if="false"> <tab-heading class="tab-header"> <a
			ui-sref-active="active"><img src="images/life-style.png">
			&nbsp; <b>Lifestyle</b></a></tab-heading> <tab-content>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 life-style">
			<img src="images/ls-1.png">&nbsp;<img src="images/ls-2.png">&nbsp;<img
				src="images/ls-3.png">&nbsp; <br> <br> <span
				ng-repeat="(key,val) in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID].lifestyle">
				<b>{{key}} : </b> {{val}} <br> <br>
			</span> <span
				ng-repeat="(key, val) in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['family']">
				<b>{{key}} : </b> {{val}} <br> <br>
			</span>
		</div>
		</tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=false"
			ng-if="false"> <tab-heading class="tab-header"> <a
			ui-sref-active="active"><img src="images/family.png">
			&nbsp; <b>Family</b></a></tab-heading> <tab-content>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<span
				ng-repeat="(key, val) in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]['family']">
				<b>{{key}} : </b> {{val}} <br> <br>
			</span>
		</div>
		</tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=false"
			ng-if="false"> <tab-heading class="tab-header"> <a
			ui-sref-active="active"><img src="images/religionB.png">
			&nbsp; <b>Religion</b></a></tab-heading> <tab-content> <span> <b><img
				src="images/religion.png"> &nbsp; Religion : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["Religion"]["religion"]}}
			<br> <br>
		</span> <span> <b><img src="images/cast.png"> &nbsp; Caste :
		</b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["Religion"]["caste"]}}
			<br> <br>
		</span> </tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=false"
			ng-if="false"> <tab-heading class="tab-header"> <a
			ui-sref-active="active"><img src="images/eduB.png"> &nbsp;
			<b>Career</b></a></tab-heading> <tab-content> <span> <b><img
				src="images/job.png"> &nbsp; Profession : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]["job"]}}
			<br> <br>
		</span> <span> <b><img src="images/edu.png"> &nbsp;
				Qualification : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]["degree"]}}
			<br> <br>
		</span> <span> <b><img src="images/salary.png"> &nbsp;
				Income : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["education&career"]["salary"]}}
			<br> <br>
		</span> </tab-content> </tab> <tab ui-sref="user.list" ng-click="mic.epandView=true"> <tab-heading
			class="tab-header"> <a ui-sref-active="active"><img
			src="images/horoscope.png" style="margin: 5px"> &nbsp; <b>Horoscope</b></a></tab-heading>
		<tab-content> <span> <b><img
				src="images/cast.png"> &nbsp; Raasi : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["horoscope"]["raasi"]}}
			<br> <br>
		</span> <span> <b><img src="images/star.png"> &nbsp;
				Nakshatra : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["horoscope"]["star"]}}
			<br> <br>
		</span> <span> <b><img src="images/dosham.png"> &nbsp;
				Dosham : </b>
			{{mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID]["horoscope"]["dosham"]}}
			<br> <br>
		</span> <!--img ng-if="img!==''" class="horo-images" style="width: 132px;height: 104px;" ng-repeat="img in mic.currentMemberProfileInfo[mic.$rootScope.searchMemberID].horoscope.pics" ng-src="{{img}}"/>-->
		</tab-content> </tab> </tabset>
	</div>
</div>
<!--<div style="margin-top: 100px" ng-include src="'views/footer.html'"></div>-->
<style type="text/css">
.temp-overlap {
	position: absolute;
	background: rgba(255, 255, 255, 0.94);
	height: 570px;
	width: 170px;
	left: calc(100% - 172px);
	top: 202px;
}

.member-match-table tr td {
	font-size: 13px;
	padding: 4px 41px 4px 15px;
	border-bottom: 1px solid #ccc;
}

.member-match-table tr th {
	background: #f1f1f1;
	padding: 5;
	opacity: 0.8;
	color: #84c2e8;
	font-size: 13px;
}

.nav-tabs {
	border-bottom: 1px solid #faeba7 !important;
	float: left !important;
	border-right: 1px solid #faeab0 !important;
	text-align: initial !important;
	background: rgba(217, 217, 98, 0.15) !important;
}

.nav-tabs li {
	margin-bottom: 30px !important;
}

.tab-content>.active {
	display: block;
	position: absolute;
	width: 100%;
	text-align: -webkit-left;
	padding-left: 20pc;
	padding-top: 8pc;
	background: rgba(255, 196, 81, 0.3);
	z-index: -1;
}

min-height: 122%; .match-percent .tab-content>.active {
	padding-top: 10px !important;
	padding-left: 225px !important;
}

.glyphicon-repeat-animate {
	-webkit-animation: spin .7s infinite linear;
	font-size: 45px;
	color: orange;
	margin-top: 50px;
	background: rgba(255, 165, 0, 0.24);
	border-radius: 137px;
}

@
-webkit-keyframes spin {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}
}
</style>