<style type="text/css">
ul li {
	list-style: none;
}

ul li:nth-child(odd) {
	-webkit-animation-name: appear-odd; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-odd;
	animation-duration: 1s;
}

ul li:nth-child(even) {
	-webkit-animation-name: appear-even; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-even;
	animation-duration: 2s;
}

.content-inner-title {
	-webkit-animation-name: delay; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: delay;
	animation-duration: 2s;
}

.top-header {
	-webkit-animation-name: header; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: header;
	animation-duration: 2s;
}
/* Chrome, Safari, Opera */
@
keyframes header {from { opacity:0;
	margin-left: 240px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
@
keyframes appear-odd {from { opacity:0;
	padding-left: 40px;
}

to {
	opacity: 1;
	padding-left: 0px;
}

}
@
keyframes appear-even {from { opacity:0;
	padding-top: 100px;
}

to {
	opacity: 1;
	padding-top: 0px;
}

}
@
keyframes delay {from { opacity:0;
	margin-top: -100px;
}

to {
	opacity: 1;
	margin-top: 0px;
}
}
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 f-about">
	<h3 class="top-header">Privacy Policy</h3>
	<img src="images/hd-border.png"><br> <br>
	<div class="f-about-content" style="font-family: cambria">
		<div class="content-inner-title">
			<h3>
				<b>Indiazbridal.com</b> is an Online Wedding Entry Way Attempting
				Continually to Furnish you With Marital Administrations.
			</h3>
		</div>

		<ul>

			<li>This Protection Proclamation is regular to all the Marital
				Local Worked Under <b>IndiazBridal.Com</b> Since we are Emphatically
				Dedicated on your Right Side to Security, We have Drawn Out a
				Security Articulation with Respect to the Data we gather from You.
			</li>

			<li>You Recognize that You are Unveiling Data Intentionally. By
				Utilizing the Site and / or by giving Your Data, You Agree to the
				Accumulation and Utilization of the Information You Reveal on the
				Site as per this Privacy Policy. In the event that you Don't Concur
				for Utilization of Your Data, Kindly Don't use or Get to this Site.
			</li>

			<li>We Utilize a Safe Server for Visa Exchanges to Ensure the
				Visa Data of our Clients and Cookies are Utilized to Store the Login
				Data. Treats are Little Records put on Your Hard Drive that will
				help us giving our Administrations. You might Likewise Experience
				Cookies or Indistinguishable / Related Gadgets on Specific Pages of
				the Site that are put by Outsiders. We Don't Control the Utilization
				of treats by Outsiders.</li>

			<li><b>1. What data you have to offer into Utilization this
					Site? </b><br> The Data we assemble from individuals and Guests
				who apply for the different Administrations our site offers
				incorporates, however may not be restricted to, Email Address, First
				Name, Last Name, Date of Birth, Instructive capabilities a client
				determined Secret key, Postage Information, Compress/Pin code and
				Phone/Portable Number or Fax Number. <br> In the event that you
				build up an Acknowledge represent us to pay the expenses we charge,
				some extra data, including a Charging address, a credit/platinum
				card number and a credit/plastic termination date and following data
				from checks or request drafts is gathered.</li>

			<li><b>2. How the Site utilizes the data it Gathers/Tracks?</b><br>

				<b>Indiazbridal.com</b> gathers data from our Clients fundamentally
				to guarantee that we can satisfy your necessities and to convey
				Personalized Experience.</li>

			<li><b>3. With whom the Site shares the data it
					Gathers/Tracks? </b><br> <b><b>IndiazBridal.Com</b></b> does not
				offer, Lease, or Advance any Identifiable Data at the Individual
				level with Respect to its Clients to any outsider. Be that as it
				may, We might impart Such Identifiable Data to our Partners /
				Members/ Backups and such Partners / Associates / Auxiliaries might
				Market to You as an after effect of such Sharing. Any Data You Give
				us is held with the most Extreme Consideration and Security. We are
				will Undoubtedly Collaborate Completely ought to a Circumstance
				Emerge where we are Required by Law or Lawful Procedure to Give Data
				around a Client / Guest. <br> Our Website Connections To
				Different Sites That Might Gather Actually Identifiable Data About
				You. We Are Not in Charge of The Security Arrangement or The
				Substance of Those Connected Sites.</li>

			<li><b>4. Do All Guests Need To Pay? </b><br> NO. All
				Guests to our Site might skim the Site, Seek the Promotions and View
				any articles or Elements our Site Brings to the Table without
				Entering any individual Data or Paying Cash. <br></li>
			<li><b>5. How to Unsubscribe the Participation? </b><br>

				The Individuals are asked for to Login to the Pertinent Pages for
				Unsubscription.</li>
			<li><b>6. Can Clients Contact any Number of Profiles in a
					Solitary Day? </b><br> As a Paid Individual from This Site, You
				have the Benefit to Contact Several Profiles. Be that as it may,
				there is a Predefined Breaking Point to Send 100 Messages for Each
				day because of Reasonable Online use Arrangement.
			<li><b>7. Will there be a Change of Privacy Policy?</b><br>

				We Might Change this Privacy Policy without Notification Every once
				in a while in Light of Your Remarks or As a Consequence of a Change
				of Strategy in Our Organization.</li>
			<li><b>Regards,<br> <b>IndiazBridal.Com</b></b></li>
		</ul>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>
