<div class="reg-form">
	<div class="form-header">
		<img src="images/register.png"> &nbsp;
		<h5>Register Now !</h5>
		<span>ITS FREE!</span>
	</div>
	<div class="col-lg-12 form-body">
		<table class="col-lg-12">
			<tr>
				<td><input type="text" placeholder="E-mail*"></td>
			</tr>
			<tr>
				<td><input type="text" maxlength="10" placeholder="Password*"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Profile created For*"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Name*"></td>
			</tr>
			<tr>
				<td class="radio-div"><label class="radio-inline"><input
						style="width: 12px; margin-left: -5px; margin-top: -8px;"
						type="radio" id="male" name="gender" value="male">&nbsp;<span>Male</span></label>
					<label class="radio-inline"><input
						style="width: 12px; margin-left: -5px; margin-top: -8px;"
						type="radio" id="female" name="gender" value="female">&nbsp;<span>Female</span></label>
				</td>
			</tr>
			<tr>
				<td class="dob"><span
					class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
					placeholder="Date of Birth*">Date of Birth</span><input
					class="col-lg-2 col-md-2 col-sm-2 col-xs-2" type="text" value="DD">&nbsp;
					<input class="col-lg-2 col-md-2 col-sm-2 col-xs-2 month"
					type="text" value="MM">&nbsp;<input type="text"
					class="col-lg-3 col-md-3 col-sm-3 col-xs-3" value="YYYY"></td>
			</tr>
			<tr>
				<td class="phone-no"><input type="text"
					class="col-lg-2 col-md-2 col-sm-2 col-xs-3" value="+91"><input
					class="col-lg-5 col-md-5 col-sm-5 col-xs-5 " type="text"
					placeholder="Mobile*"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Caste*"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Mothertongue*"></td>
			</tr>
			<!--<tr><td><input type="checkbox"> <a href="http://localhost:8080/IndiaBridal/index.html#/t&c" value="checked"  style="font: 4px verdana;" style="float:left" required> I Accept all <b>Terms and Conditions</b></td></tr>-->
			<tr>
				<!--<td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-opt">
					<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><button
							type="submit">*Register*</button></label><br><br>
			 </td>-->
				<td><input class="check" type="checkbox" id="terms"
					name="terms" checked required> <a
					href="http://localhost:8080/IndiaBridal/index.html#/t&c"
					class="accept" style="font: 10px verdana left" style="float:left"
					style="margin:10px"><span>I Accept Terms and Conditions</span></a>
				</td>
			</tr>
			<tr>
				<!--<td class="register-opt"><label><button>*Register*</button></label><br><br></td>-->
				<td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-opt">
					<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><button
							type="submit">*Register*</button></label><br> <br>
				</td>
				<!-- <label >or you can also </label>
			 <span>Register with</span> &emsp;
			 <img src="images/facebook.png">
			 <img src="images/skype.png"> -->
			</tr>
		</table>
	</div>
</div>