<div class="col-lg-12 title">
	<span>Listen To People</span> <span> Who Experienced
		IndiazBridal</span>
</div>
<div>
	<img src="images/hd-border.png">
</div>
<div class="carousal-reviews col-lg-12">
	<carousel interval="hc.myTestiInterval"> <slide
		ng-repeat="slide in hc.slidesTesti">
	<table>
		<tr>
			<td><img class="carousel-img" ng-src="{{slide.image}}"> <br>
				<br> <span>{{slide.name}}</span></td>
		</tr>
		<tr>
			<td><br>{{slide.review}}</td>
		</tr>
	</table>
	</slide> </carousel>
</div>