
<style type="text/css">
ul li {
	list-style: none;
}

ul li:nth-child(odd) {
	-webkit-animation-name: appear-odd; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-odd;
	animation-duration: 1s;
}

ul li:nth-child(even) {
	-webkit-animation-name: appear-even; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-even;
	animation-duration: 2s;
}

.content-inner-title {
	-webkit-animation-name: delay; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: delay;
	animation-duration: 2s;
}

.top-header {
	-webkit-animation-name: header; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: header;
	animation-duration: 2s;
}
/* Chrome, Safari, Opera */
@
keyframes header {from { opacity:0;
	margin-left: 240px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
@
keyframes appear-odd {from { opacity:0;
	padding-left: 40px;
}

to {
	opacity: 1;
	padding-left: 0px;
}

}
@
keyframes appear-even {from { opacity:0;
	padding-top: 100px;
}

to {
	opacity: 1;
	padding-top: 0px;
}

}
@
keyframes delay {from { opacity:0;
	margin-top: -100px;
}

to {
	opacity: 1;
	margin-top: 0px;
}
}
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 f-about">
	<h3 class="top-header">TERMS AND CONDITION</h3>
	<img src="images/hd-border.png"><br> <br>
	<div class="f-about-content" style="font-family: cambria">
		<div class="content-inner-title">
			<h3>
				Welcome To <b>IndiazBridal.Com</b>, Matrimonial Service Provider.
			</h3>
		</div>

		<ul>
			<li>In order to utilize the <b>IndiazBridal.Com</b> site, You
				should Register as an Individual from the site and consent to be
				bound by these terms of use.To wind up a part, and utilize the
				administrations Offered By <b>IndiazBridal.Com</b>, You have to
				Submit to these terms of Utilization.
			</li>
			<li>
				<h4>
					<b>IndiazBridal.Com</b> might in its Caution, Alter this
					understanding upon time to time, with a notification to the Client.
				</h4>
			</li>

			<li><b>1. Legitimacy Period </b><br> This understanding is
				Substantial, the Length of You are a Part/Utilize the
				Administrations offered by <b>IndiazBridal.Com</b>. <b>IndiazBridal.Com</b>
				might Deny/End your entrance to the site and/or Your enrollment for
				any reason with an E-Mail Notification to you, Gave by you. You
				might Likewise stop/end Your Participation whenever, For any reason
				by Insinuating <b>IndiazBridal.Com</b>. In the event that your
				Enrollment is ended by <b>IndiazBridal.Com</b> For break of
				understanding, You won't be Qualified for any discount on the
				Membership/Participation charges paid.</li>

			<li><b>2. Qualification </b><br> To Enlist as an individual
				from <b>IndiazBridal.Com</b>, To profit match making benefits, the
				individual looking for a match must be of/over the eligible Age,
				Taking Into Account the Laws of the Nation that the Individual is
				living in.</li>

			<li><b>3. Content Posted on the Site </b><br> You
				comprehend and concur that <b>Indiazbridal.com</b> might erase any
				Substance, Messages, Photographs or Profiles (all in all,
				"Substance") that in the sole judgment of <b>IndiazBridal.Com</b>
				damage the Terms of Use or which may be Hostile, Illicit, or that
				may disregard the Rights, Hurt, or Debilitate the well being of
				other <b>IndiazBridal.Com</b> and/or its Members. <br> You are
				exclusively in charge of the Content that you distribute or show or
				post on the <b>IndiazBridal.Com</b> Administration, or transmit to
				other <b>IndiazBridal.Com</b> Members. <b>IndiazBridal.Com</b>
				maintains whatever authority is needed to confirm the legitimacy of
				Content posted on the site. In practicing this privilege, <b>IndiazBridal.Com</b>
				might request that you give any narrative or other type of proof
				supporting the Content you post on the site. In the event that you
				neglect to create such proof, <b>IndiazBridal.Com</b> might in its
				sole carefulness, end your Membership without a discount. <br>

				By presenting Content on any open region of <b>IndiazBridal.Com</b>,
				you naturally allow, and you speak to and warrant that you have the
				privilege to concede, to <b>IndiazBridal.Com</b>, and other <b>IndiazBridal.Com</b>
				Members, an Unalterable, unending, non-elite, completely paid,
				overall permit to Utilize, Duplicate, Perform, Show, and Disseminate
				such data and content and to plan subsidiary works of, or join into
				different works, such data and content, and to give and approve
				sub-licenses of the previous. <br> The accompanying is an
				incomplete run down of the sort of Content that is illicit or
				restricted on the Site. <b>IndiazBridal.Com</b> will explore and
				make suitable legitimate move in its sole prudence against any
				individual who disregards this procurement, Including without
				impediment, Expelling the culpable correspondence from the Service
				and ending the Membership of such violators without a discount. It
				incorporates Content that: <br> &emsp;a). Is patently hostile
				to the online group. For example- Content that advances Prejudice,
				Bias , Contempt or Physical mischief of any sort against any
				gathering or person;<br> &emsp;b). Bugs or Promoters badgering
				of someone else;<br> &emsp;c). Advances data that you know is
				false, Deceptive or Advances unlawful exercises or direct that is
				harsh, Undermining, Profane, Defamatory or Hostile; <br>

				&emsp;d). Includes the transmission of "Garbage mail", "Junk
				letters," or Spontaneous mass mailing or "Spamming"; <br>

				&emsp;e). Advances an unlawful or Un-approved duplicate of someone
				else's copyrighted work. For example- giving pilfered PC projects or
				Connections to them, Giving data to dodge make introduced duplicate
				ensure gadgets, or Giving pilfered music or Connections to pilfered
				music documents; <br> &emsp;f). Contains confined or Watchword
				just get to pages, or Shrouded pages or Pictures (Those not
				connected to or from another open page) ; <br> &emsp;g). Gives
				Instructional data about illicit exercises. For example- Damaging
				somebody's security, or Giving or Making PC infections; <br>

				&emsp;h). Gives material that endeavors individuals less than 18
				years old in a Sexual or Vicious way, or Requests individual data
				from anybody under 18; <br> &emsp;i).
				Profane/Pornographic/Vulgar pictures or literary material
				transferred in the profile and/or transmitted in the E-sends and
				online visit. <br> &emsp;j). Requests Passwords or individual
				recognizing data for business or unlawful purposes from different
				Clients. <br> &emsp;k). You should Utilize the <b>IndiazBridal.Com</b>
				Service in a way steady with any material Neighborhood, State, and
				Government laws and Regulations. <br> &emsp;l). You may exclude
				in your Member Profile, noticeable to different individuals, any
				Phone numbers, Road Addresses, Last names, URL's, and E-mail
				addresses.</li>

			<li><b>4. Part Disputes </b><br> You are Exclusively in
				charge of your Cooperations with other <b>IndiazBridal.Com</b>
				Members. You Concur and Embrace that your Cooperation with the other
				<b>IndiazBridal.Com</b> Members is at Your sole Prudence and
				Obligation, and that <b>IndiazBridal.Com</b> should not be
				Mindful/Subject for Affirming the Veracity of the Substance of other
				<b>IndiazBridal.Com</b> Members.</li>

			<li><b>5. Security </b><br> <b>IndiazBridal.Com</b>Won't
				Deliberately screen or Reveal any private information Unless
				required by Law, Implementation Offices, Regulation or Court
				Request. You Consent to Regard the Security and Classification of
				others. What's more, <b>IndiazBridal.Com</b> Might all alone or as
				Might be Coordinated, Give any data Required to the Law
				Authorization Powers For any above Wrong Utilization. Represented by
				Privacy Strategy of <b>IndiazBridal.Com</b>.</li>

			<li><b>6. Reimbursement </b><br> You consent to Safeguard,
				Re-imburse and hold Innocuous <b>IndiazBridal.Com</b>., Its Workers,
				Chiefs, Officers, Specialists and their Successors and Allots from
				and against any Liabilities, Harms, Misfortunes, Expenses and Costs,
				Including Lawyer's Charges, Brought About by or Emerging out of
				cases Based Upon the Utilization of your Record and Repudiation of
				any Terms and Conditions thus to avail of this Administration,
				Including any Case of Slander, Maligning, Infringement of Privileges
				of Protection or Attention, Loss of Administration by Different
				Individuals and Encroachment of Licensed Innovation or Different
				Rights.</li>

			<li><b>7. Disclaimer Policy </b><br> <b>IndiazBridal.Com</b>
				is not in Charge of any Erroneous/off Base Content Posted on the
				Site or Regarding the <b>IndiazBridal.Com</b> Service, whether
				brought on by users, Members or by any of the Types of Gear or
				Programming Connected with or used in the Service, Nor for the
				Behavior of any user and/or Member of the <b>IndiazBridal.Com</b>
				Service whether online or Disconnected from the Net. By no Means
				will <b>IndiazBridal.Com</b> be in Charge of any Misfortune or Harm
				Coming about because of any Body's Utilization of the site or the
				Administration and/or any Substance posted on the <b>IndiazBridal.Com</b>
				Marriage site or Transmitted to <b>IndiazBridal.Com</b> Marriage
				Individuals. The trading of Wedding Profile through or by <b>IndiazBridal.Com</b>
				site ought not at all be Interpreted as any Marital offer and/or
				Proposal From/by <b>IndiazBridal.com</b>.</li>

			<li><b>8. Various </b><br> This understanding will be
				Represented by and Understood as per the Laws of India. On the off
				Chance that any Procurement of this Agreement is held to be Invalid,
				the Remaining Procurements Might be Upheld. Enlisted Individuals
				from this site would get messages Relating to the Administrations
				offered by the Site. By Enlisting on <b>IndiazBridal.Com</b>, You
				concur that You have Perused the above Terms, and would withstand to
				these Terms of Utilization/Understanding.</li>

			<li><b>Much Thanks To You, <br> <b>IndiazBridal.Com</b></b>
			</li>
		</ul>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>
