<style type="text/css">
.in-view .top-header {
	-webkit-animation-name: header; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: header;
	animation-duration: 2s;
}

.in-view .content-inner-title {
	-webkit-animation-name: delay; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: delay;
	animation-duration: 2s;
}

.in-view .portfolio .parts {
	-webkit-animation-name: float; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-name: float;
	animation-duration: 3s;
}

@
keyframes float {from { margin-left:-200px;
	
}

to {
	margin-left: 0px;
}

}
@
keyframes delay {from { opacity:0;
	margin: 100px;
}

to {
	opacity: 1;
	margin: 10px;
}

}
/* Chrome, Safari, Opera */
@
keyframes header {from { opacity:0;
	margin-left: 240px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
ul li {
	list-style: none;
	text-align: left;
}
</style>
<div class="top-header col-lg-12 title">
	<span>About</span> <span>IndiazBridal</span>
</div>
<div>
	<img src="images/hd-border.png">
</div>
<div class="about-content">
	<div class="content-inner-title">
		<h3>IndiazBridal.Com is a Pioneered Matrimonial Service Provider
			Across the Globe with Huge Bridal Profiles.</h3>
	</div>
	<ul class="about-list" style="font-family: cambria">
		<li>IndiazBridal is a Part of IndaizGroup, IndiazBridal.Com will
			be a Stand Out Among Those Principal and Vivid Indian Wedding Site.
			We would Hugely Refer to the Flawless Match-Making and Trustworthy
			Services Since 2016.</li>
		<li>We have been Equipped Ourselves to Project as First Players
			in the Field of On-line Matrimonial. Profile Match is Based on the
			Mother Tongue, Country, Religion, Caste, Occupation and Education of
			the User to Identify the Better-Half.</li>
		<li>Due to the Higher Rate of Customer Satisfaction, IndiazBridal
			is one of the Leading Match Maker in the Indian Matrimonial
			Services... <a href="#about/IndiaBridal">Know More</a>
		</li>
	</ul>
</div>
<div class="col-lg-12 portfolio">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 parts">
		<img src="images/abt-img1.png"><br> <br> <span>MAXIMUM
			NUMBER OF MATCH PROFILES</span>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 parts">
		<img src="images/abt-img2.png"><br> <br> <span>FULLY
			VERIFIED USERS</span>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 parts">
		<img src="images/abt-img3.png"><br> <br> <span>USER
			INFORMATION ARE MOST SECURED</span>
	</div>
</div>
