<style type="text/css">
ul li {
	list-style: none;
}

ul li:nth-child(odd) {
	-webkit-animation-name: appear-odd; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-odd;
	animation-duration: 1s;
}

ul li:nth-child(even) {
	-webkit-animation-name: appear-even; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: appear-even;
	animation-duration: 2s;
}

.content-inner-title {
	-webkit-animation-name: delay; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: delay;
	animation-duration: 2s;
}

.top-header {
	-webkit-animation-name: header; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: header;
	animation-duration: 2s;
}
/* Chrome, Safari, Opera */
@
keyframes header {from { opacity:0;
	margin-left: 240px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
@
keyframes appear-odd {from { opacity:0;
	padding-left: 40px;
}

to {
	opacity: 1;
	padding-left: 0px;
}

}
@
keyframes appear-even {from { opacity:0;
	padding-top: 100px;
}

to {
	opacity: 1;
	padding-top: 0px;
}

}
@
keyframes delay {from { opacity:0;
	margin-top: -100px;
}

to {
	opacity: 1;
	margin-top: 0px;
}
}
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 f-about">
	<h3 class="top-header">ABOUT US</h3>
	<img src="images/hd-border.png"><br> <br>
	<div class="f-about-content" style="font-family: cambria">
		<div class="content-inner-title">
			<h3>IndiazBridal.Com is a Pioneered Matrimonial Service Provider
				Across the Globe with Huge Bridal Profiles.</h3>
		</div>

		<ul class="about-list">
			<li>IndiazBridal is a Part of IndiazGroup, <b>Indiazbridal.Com</b>
				will be a Stand Out Among those Principal and Vivid Indian Wedding
				Site. We would Hugely Refer to the Flawless Match-Making and
				Trustworthy Services Since 2016.
			</li>
			<li>We have been Equipped Ourselves to Project as First Players
				in the Field of On-Line Matrimonial. Profile Match is Based on the
				Mother Tongue, Country, Religion, Caste, Occupation and Education of
				the User to Identify the Better-Half.
			<li>Due to the higher Rate of Customer Satisfaction,
				IndiazBridal is one of the Leading Match Maker in the Indian
				Matrimonial Services.</li>
			<li>IndiaBridal Benchmark has many hits on Daily which is
				Perpetually Expanding Step by Step in an Enormous Rate. Our Experts
				are Highly Proficient in Communication and the Services to Fulfill
				the Customer Needs.</li>
			<li>We Utilize the Ultra-Modern, Also Praise-worthy Advances
				which will Encourage the Effective Response From the Customer Care
				Executive. We Provide Free Registration to All the Users and
				Separate Packages to Identify their Life Partner here in
				IndiazBridal.</li>
		</ul>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>
