<style type="text/css">
.about {
	background: rgba(13, 13, 13, 0.87) !important;
	color: #BFB7B7 !important;
	height: 100% !important;
	padding-top: 30px;
}

.registeration {
	height: 100% !important;
}

.about .portfolio {
	/*background: #4A4C4B !important;
    margin-top: calc(100% - 90%);*/
	background: #4A4C4B !important;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 55px;
}

@media ( max-width : 1000px) {
	.about .portfolio {
		position: relative !important;
		bottom: 10px;
		height: 242px;
	}
}

.nav-options {
	_background: rgba(89, 65, 65, 0.87) !important;
	color: #BFB7B7 !important;
	height: 100% !important;
	background: url('images/bg3.jpg') !important;
	background-size: 100%;
	opacity: 0.9;
}

.nav-options .options {
	padding: 70px 90px;;
}

.nav-options .options .center img {
	width: 90px;
	animation-name: bounceLeft;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.nav-options .options .left img {
	width: 90px;
	animation-name: bounceLeft;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.nav-options .options .right img {
	width: 90px;
	animation-name: bounceRight;
	animation-duration: 4s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.in-view .options .left {
	-webkit-animation-name: leftSlide; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-name: leftSlide;
	animation-duration: 3s;
}

.in-view .options .center {
	-webkit-animation-name: centerSlide; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-name: centerSlide;
	animation-duration: 3s;
}

.in-view .options .right {
	-webkit-animation-name: rightSlide; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-name: rightSlide;
	animation-duration: 3s;
}

.nav-options .options div span {
	font-weight: bold;
	font-size: 14px;
	color: rgb(196, 166, 166);
}

.in-view {
	-webkit-animation-name: appear;
	-webkit-animation-duration: 3s;
	animation-name: appear;
	animation-duration: 2s;
}

.out-view {
	-webkit-animation-name: disappear; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-name: disappear;
	animation-duration: 3s;
}

.in-view .portfolio {
	-webkit-animation-name: slidebottom; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: slidebottom;
	animation-duration: 2s;
}

.better-half-search {
	_background: rgb(73, 83, 95);
	_background: url("images/night_sky.png");
	_background: url("images/stars.jpg");
	_background: url("images/hands.png");
	background: url('images/romance.jpg');
	color: #fff;
	height: 100%;
	padding-top: 70px;
}

.better-half-search .search-options {
	padding: 50px;
}

.marriage-quote {
	font-size: 14px;
	padding: 50px;
	color: rgba(255, 248, 248, 0.55);
}

.anim-my-crsl {
	animation-name: crslappear;
	animation-duration: 5s;
}

@
-webkit-keyframes bounceLeft {from { -webkit-transform:translate(0px,
	0px);
	
}

to {
	-webkit-transform: translate(0px, -30px);
}

}
@
-webkit-keyframes bounceRight {from { -webkit-transform:translate(10px,
	10px);
	
}

to {
	-webkit-transform: translate(10px, -40px);
}

}
@
keyframes rightSlide {from { opacity:0;
	margin-top: -100px;
	position: absolute;
}

to {
	opacity: 1;
	margin-top: 0px;
	position: relative;
}

}
@
keyframes leftSlide {from { opacity:0;
	padding-top: 200px;
	position: absolute;
}

to {
	opacity: 1;
	padding-top: 0px;
	position: relative;
}

}
@
keyframes centerSlide {from { opacity:0;
	margin-top: 100px;
}

to {
	opacity: 1;
	margin-top: 0px;
}

}
/* Chrome, Safari, Opera */
@
keyframes slidebottom {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
keyframes appear {from { opacity:0.5;
	
}

to {
	opacity: 1;
}

}
@
keyframes crslappear {from { opacity:0.4;
	right: -500px;
}

to {
	opacity: 1;
	right: 0px;
}

}
@
keyframes disappear {from { opacity:0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

to {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

}
.my-carousal {
	height: 100%;
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, 0.32);
	margin-top: -20px;
	left: 0px;
}

.crsl-anim {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: -webkit-left;
}

.crsl-anim .fall-from-top {
	animation-name: ftop;
	animation-duration: 4s;
	margin-top: 180px;
	font-size: 55px;
	padding-left: 75px;
	color: rgba(255, 255, 255, 0.73);
}

.crsl-anim .slide-from-left {
	animation-name: sleft;
	animation-duration: 3s;
	position: absolute;
	right: 0px;
	font-size: 27px;
	color: rgba(255, 255, 255, 0.87);
	top: 260px;
	left: 230px;
}

@media ( max-width : 1200px) {
	.crsl-anim .fall-from-top {
		font-size: 35px !important;
	}
	.crsl-anim .slide-from-left {
		font-size: 20px !important;
	}
	.split {
		font-size: 20 !important;
	}
	.appear {
		font-size: 30px !important;
	}
}

@media ( max-width : 1000px) {
	.crsl-anim .fall-from-top {
		font-size: 30px !important;
		margin-left: -50px;
	}
	.crsl-anim .slide-from-left {
		font-size: 15px !important;
		margin-left: -170px;
	}
	.split {
		font-size: 15px !important;
	}
	.appear {
		font-size: 25px !important;
	}
}

@media ( max-width : 940px) {
	.split {
		font-size: 15px !important;
	}
	.appear {
		font-size: 20px !important;
		margin-left: -55px !important;
	}
}

.crsl-anim .split {
	float: left;
	font-size: 30px;
	padding: 10px;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 65px;
}

.crsl-anim .split:nth-child(even) {
	animation-name: splitEven;
	animation-duration: 4s;
}

.crsl-anim .split:nth-child(odd) {
	animation-name: splitOdd;
	animation-duration: 4s;
}

.crsl-anim .appear {
	top: 200px;
	animation-name: appeaAnim;
	animation-duration: 4s;
	font-size: 40px;
	color: rgba(255, 190, 70, 0.67);
	left: 215px;
	position: absolute;
}

@
keyframes appeaAnim {from { display:none;
	opacity: 0.2;
	margin-left: -420px;
}

to {
	display: block;
	opacity: 1;
	margin-left: 50px;
}

}
@
keyframes splitEven {from { margin-top:-200px;
	
}

to {
	margin-top: 218px;
}

}
@
keyframes splitOdd {from { margin-top:0px;
	
}

to {
	margin-top: 218px;
}

}
@
keyframes ftop {from { margin-top:-200px;
	position: absolute;
}

to {
	margin-top: 180px;
	position: relative;
}

}
@
keyframes sleft {from { left:600px;
	top: 0px;
}

to {
	left: 230px;
	top: 260px;
}
}
</style>
<div
	class="registeration col-lg-12 col-md-12 col-sm-12 col-xs-12  animation-element">
	<!--  -->
	<!-- <div class="carousal col-lg-6">
     <uib-carousel interval="hc.myInterval">
      <uib-slide ng-repeat="slide in hc.slides">
          <img  class="carousel-img" ng-src="{{slide.image}}">
        </uib-slide>
      </uib-carousel>
  </div> -->
	<div class="my-carousal">
		<div class="repeater" ng-repeat="img in mc.myCrslImg">
			<img ng-class="{'anim-my-crsl':img.isVisible}" ng-if="img.isVisible"
				width="100%" height="100%" class="my-crsl-img" ng-src="{{img.src}}">
		</div>
		<div ng-show="mc.myCrslImg[0].isVisible"
			class="crsl-anim visible-lg visible-md visible-sm col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="fall-from-top">
				<b>*LIFE IS BEAUTIFUL*</b>
			</div>
			<div class="slide-from-left">Where You Meet Someone Special...</div>
		</div>
		<div ng-show="mc.myCrslImg[1].isVisible"
			class="crsl-anim col-lg-6 visible-lg visible-md visible-sm col-md-6 col-sm-6 col-xs-6"
			style="margin-left: 20px; top: 125px;">
			<div class="fall-from-top" style="font: 350% monotype corsiva">
				" Time Spent With Your Special One is "</div>
			<div class="slide-from-left" style="font: 400% monotype corsiva">
				<b> Priceless !...</b>
			</div>
			<!-- <div class="split">Time</div>
        <div class="split">Spent</div>
        <div class="split">With</div>
        <div class="split">Your</div>
        <div class="split"><b>Speical One</b></div>
        <div class="split">is</div>
       <br>
        <div class="appear">Priceless...</div>-->
		</div>
	</div>
	<div class="register col-lg-6 col-md-6 col-sm-7 col-xs-7"
		style="float: right">
		<div ng-include src="'views/reg-form.html'"></div>
	</div>
	<!-- <div class="register-xs col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div ng-include src="'views/reg-form-xs.html'"></div>   
  </div> -->
</div>
<div
	class="col-lg-12 col-md-12 col-sm-12 col-xs-12  better-half-search animation-element">
	<div ng-include src="'views/better-half-search.html'"></div>
</div>
<div
	class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-options animation-element">
	<div
		style="height: 535px; background: rgba(0, 0, 0, 0.35); margin-top: 30px;"
		ng-include src="'views/nav-options.html'"></div>
</div>
<div
	class="col-lg-12 col-md-12 col-sm-12 col-xs-12  about animation-element"
	ng-mouseover="hc.addClass('about','about-animation')"
	ng-mouseout="hc.removeClass('about','about-animation')">
	<div ng-include src="'views/about.html'"></div>
</div>
<div ng-if="false"
	class="col-lg-12 col-md-12 col-sm-12 col-xs-12   reviews animation-element">
	<div ng-include src="'views/reviews.html'"></div>
</div>
<div ng-include src="'views/footer.html'"></div>
