<div class="laoder-container">
	<br> <br> <br> <span
		class="glyphicon glyphicon-repeat glyphicon-repeat-animate"></span><br>
	<br> Fetching The Latest Data...
</div>

<style type="text/css">
.glyphicon-repeat-animate {
	-webkit-animation: spin .7s infinite linear;
	font-size: 45px;
	color: orange;
	margin-top: 50px;
	background: rgba(255, 165, 0, 0.24);
	border-radius: 137px;
}

@
-webkit-keyframes spin {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
.laoder-container {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 1;
	top: 190px;
}
</style>