<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-info"></div>
<div class="membership-container">
	<div class="member-package continer1">
		<div class="header header1">* Gold *</div>
		<div class="package-options">
			<label class="availabel"></label>Connect Matches For 3 Months.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>View 30 Profiles Informations.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>View 10 Horoscopes.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>Free 20 SMS and 30 Mails.
		</div>
		<div style="padding: 12px;">
			<span class="reg-price">Rs.299</span> <span class="sale-price">Rs.199</span>
		</div>
		<!--<div><button ng-click="msc.sendData()">Subscribe</button></div>-->
		<div>
			<a href="https://secure.payu.in/_payment"><button>Subscribe</button></a>
		</div>
	</div>
	<div class="member-package continer2">
		<div class="header header2">* Silver *</div>
		<div class="package-options">
			<label class="availabel"></label> Connect direclty with matches
		</div>
		<div class="package-options">
			<label class="availabel"></label> View detailed profile Information
		</div>
		<div class="package-options">
			<label class="un_availabel"></label> Be featured under Spotlight
		</div>
		<div class="package-options">
			<label class="un_availabel"></label> Standout with bold Listing
		</div>
		<div style="padding: 12px;">
			<span class="reg-price">Rs.399</span> <span class="sale-price">Rs.299</span>
		</div>
		<div>
			<a href="https://www.payumoney.com"><button>Subscribe</button></a>
		</div>
	</div>
	<div class="member-package continer3">
		<div class="header header3">* Platinum *</div>
		<div class="package-options">
			<label class="availabel"></label>Connect Matches For 1 Year.
		</div>
		<div class="package-options">
			<label class="availabel"></label>View 40 Profiles Informations.
		</div>
		<div class="package-options">
			<label class="availabel"></label>View 20 Horoscopes.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>Free 30 SMS and 40 Mails.
		</div>
		<div style="padding: 12px;">
			<span class="reg-price">Rs.499</span> <span class="sale-price">Rs.399</span>
		</div>
		<!--<div><button>Subscribe</button></div>-->
		<div>
			<a href="https://www.payumoney.com/paybypayumoney/#/"><button>Subscribe</button></a>
		</div>
	</div>
	<div class="member-package continer4">
		<div class="header header4">* Diamond *</div>
		<div class="package-options">
			<label class="availabel"></label> Connect direclty with matches
		</div>
		<div class="package-options">
			<label class="availabel"></label> View detailed profile Information
		</div>
		<div class="package-options">
			<label class="availabel"></label> Be featured under Spotlight
		</div>
		<div class="package-options">
			<label class="availabel"></label> Standout with bold Listing
		</div>
		<div style="padding: 12px;">
			<span class="reg-price">Rs.599</span> <span class="sale-price">Rs.499</span>
		</div>
		<div>
			<button>Subscribe</button>
		</div>
	</div>
	<div class="resp"></div>
</div>
<div ng-include src="'views/footer.html'"></div>







<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-info"></div>
<div class="membership-container">
	<div class="member-package continer1">
		<div class="header header1">
			<h3>* Gold *</h3>
		</div>
		<div class="package-options">
			<label class="availabel"></label>Connect Matches for
			3 Months.
		</div>
		<!--<div class="package-options">
			<label class="un_availabel"></label>Be Featured Under 3 Months @
			Rs.100/- Only.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>View 30 Profiles
			 and 10 Horoscopes.
		</div>
		
		<div class="package-options">
			<label class="un_availabel"></label>Free 20 SMS and 30 Mails. 
		</div>
	<!--	<div class="package-options">
			<label class="un_availabel"></label>Stand Out With Bold Listing.
		</div>
		<div style="padding: 12px;">
			<span class="reg-price"><b>Rs.200/-</b></span><br> <span
				class="sale-price"><b>Rs.100/-</b></span>
		</div>
		<div>
			<button ng-click="msc.sendData()">
				<b>Subscribe</b>
			</button>
		</div>
	</div>
	<br>
	<div class="member-package continer2">
		<div class="header header2">
			<h3>* Platinum *</h3>
		</div>
		<div class="package-options">
			<label class="availabel" style="text-decoration: center"></label>Connect Matches for 1 Year.
		</div>
		<!--<div class="package-options">
			<label class="availabel"></label>Be Featured Under 1 Year @
			Rs.200/- Only.
		</div>
		<div class="package-options">
			<label class="un_availabel"></label>View 40 Profiles
			 and 20 Horoscopes.
		</div>
		
		<div class="package-options">
			<label class="un_availabel"></label>Free 30 SMS and 40 Mails. 	
		</div>
	<!--	<div class="package-options">
			<label class="un_availabel"></label>Stand Out With Bold Listing.
		</div>
		<div style="padding: 12px;">
			<span class="reg-price"><b>Rs.500/-</b></span><br> <span
				class="sale-price"><b>Rs.200/-</b></span>
		</div>
		<div>
			<button>
				<b>Subscribe 
			</button>
		</div>
	</div>
	
	</div>
	<div class="resp"></div>
</div>
<div ng-include src="'views/footer.html'"></div>-->