<div class="hide-strip-div"></div>
<div class="options">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
		<img class="r-img" src="images/ib-img2.png">
		<!-- <img class="r-img" src="images/proc-img1.png">-->
		<img class="r-strip" src="images/strip2.png"><br> <br>
		<span class="r-span">Get Profiles</span>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
		<img class="r-img" src="images/ib-img4.png">
		<!-- <img class="r-img" src="images/proc-img2.png"> -->
		<img class="r-strip" src="images/strip2.png"><br> <br>
		<span class="r-span">Meet Each</span>
	</div>
</div>
<div class="options">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
		<img class="g-img" src="images/ib-img3.png">
		<!-- <img class="g-img" src="images/proc-img5.png"> -->
		<img class="r-strip g-strip" src="images/strip2.png"><br> <br>
		<span class="g-label">Select Profiles</span>
	</div>
</div>
<div class="options">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
		<img class="s-img" src="images/ib-img1.png">
		<!-- <img class="s-img" src="images/proc-img3.png"> -->
		<img class="r-strip s-strip" src="images/strip2.png"><br> <br>
		<span class="s-label">Register Profile</span>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
		<img class="m-img" src="images/ib-img5.png">
		<!-- <img class="m-img" src="images/proc-img4.png"> -->
		<img class="r-strip s-strip m-strip" src="images/strip2.png"><br>
		<br> <span class="m-label">Get Married</span>
	</div>
</div>
<style type="text/css">
.m-strip {
	left: calc(100% - 90px) !important;
	float: left;
}

.m-img {
	position: absolute;
	left: calc(100% - 109px);
	width: 95px !important;
}

.m-label {
	position: absolute;
	left: calc(100% - 90px);
	top: 106px !important;
}

.hide-strip-div {
	height: 65px;
	position: absolute;
	width: 100%;
	z-index: 1;
	background: url('images/bg3.jpg');
	left: 0px;
	top: 0px;
}

.r-img {
	left: calc(100% - 321px);
	position: absolute;
	width: 95px !important;
}

.r-strip {
	position: absolute;
	height: 108px;
	top: -101px;
	left: calc(100% - 300px);
	width: 50px !important;
}

.r-span {
	position: absolute;
	top: 100px;
	left: calc(100% - 307px);
}

.g-img {
	position: absolute;
	left: calc(100% - 606px);
	width: 95px !important;
}

.g-strip {
	left: calc(100% - 586px) !important;
	top: -235px !important;
	height: 242px !important;
}

.g-label {
	position: absolute;
	left: calc(100% - 602px);
	top: 100px;
}

.s-img {
	position: absolute;
	left: calc(100% - 561px);
	width: 95px !important;
}

.s-label {
	position: absolute;
	left: calc(100% - 546px);
	top: 106px;
}

.s-strip {
	height: 378px;
	left: calc(100% - 541px);
	top: -370px;
	position: absolute;
}
</style>

