<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>Basic & Religion Preferences</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle">Save</span></td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>Groom's Age</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Height</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Marital Status</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Physical Status</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Eating Habits</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Smoking Habits</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Drinking Habits</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Religion</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Mother Tongue</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Caste</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Sub Caste</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Star</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Gothra</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Chevvai Dosham</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>Professional Information</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle">Save</span></td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>Education</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>College / Institution</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Education in Detail</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Occupation</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Occupation in Detail</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Employed in</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Annual Income</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>Family Details</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle">Save</span></td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>Family Values</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Family Type</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Family Status</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Ancestral / Family</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Origin</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>Father's Status</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Mother's Status</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>No of Brother(s)</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>No of Sister(s)</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>About My Family</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle">Save</span></td>
			</tr>
			<tr>
				<td style="width: 100%"><textarea></textarea></td>
			</tr>
		</table>
	</div>
</div>
<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>Location</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle">Save</span></td>
			</tr>
			<tr>
				<td>
					<table>
						<!--<tr>
	 						<td>Country</td> <td>:&emsp;<input type="text" ng-disabled="true" > </td>
	 					</tr>-->
						<tr>
							<td>Residing State</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>Citizenship</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
						<tr>
							<td>Residing City</td>
							<td>:&emsp;<input type="text" ng-disabled="true">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="user-result">
	<div class="edit-div">
		<table width=100%>
			<tr>
				<td><h4>What We Are Looking For</h4></td>
				<td style="text-align: right;"
					ng-click="pec.enableDisableText($event)" ng-init="toggle=true"
					class="cont-edit"><span ng-click="toggle=!toggle"
					ng-if="toggle">Edit</span><span ng-click="toggle=!toggle"
					ng-if="!toggle" type="submit">Save</span></td>
			</tr>
			<tr>
				<td>We Are Looking For a Good Looking Partner With Professional
					& Family Values.</td>
			</tr>
		</table>
	</div>
</div>
