<div class="reg-form col-lg-6 col-md-9 col-sm-10 col-xs-12">
	<div class="form-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img src="images/register.png"> &nbsp;
		<h5>Register Now !</h5>
	</div>
	<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-body"
		ng-submit="mc.sendRegisterdData()">
		<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<tr>
				<td><input ng-init="mc.resetRegForm()"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					ng-model="mc.mailID" name="emailID" type="email"
					placeholder="Enter Your E-Mail ID*" required><label
					class="select-error">{{mc.showEmailErr}}</label><label
					class="select-error">{{mc.showEmailExist}}</label></td>
			</tr>
			<tr>
				<td><input ng-init="mc.resetRegForm()"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					title="Enter Password for this site" name="password"
					type="password" maxlength="10" minlength="5"
					placeholder="Password*" required></td>
			</tr>
			<tr>
				<td><select class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					name="createdByID" ng-model="mc.regCreatedBy" required>
						<option
							ng-repeat="(key, val) in mc.profileCreatedList | orderBy:key"
							value="{{key}}">{{val}}</option>
				</select> <label class="select-error">{{mc.showCreateByErr}}</label></td>
			</tr>
			<tr>
				<td><input class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					name="fullName" type="text" pattern="[a-zA-Z\s]+"
					placeholder="Enter Name of Bride/Groom*" required></td>
			</tr>
			<tr>
				<td class="radio-div"><label class="radio-inline"><input
						type="radio" id="male" name="gender" value="male" required><span>Male</span></label>
					<label class="radio-inline"><input type="radio" id="female"
						name="gender" value="female" required><span>Female</span></label>
				</td>
			</tr>
			<!--<tr>
			<td class="dob">
				<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12" name="dob"  max="{{mc.maxDateLimit}}" type="date" placeholder="Date of Birth*"  required></td>
			
		</tr>-->
			<tr>
				<td class="dob"><input
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12" name="dob"
					max="{{mc.maxDateLimit}}" placeholder="Date of Birth*" type="text"
					value="" onfocus="(this.type='date')"
					onblur="if(!this.value)this.type='text'" required></td>
			</tr>
			<tr>
				<td class="phone-no"><input type="text"
					class="col-lg-2 col-md-2 col-sm-2 col-xs-3" disabled value="+91"><input
					class="col-lg-5 col-md-5 col-sm-5 col-xs-5 " type="text"
					name="phoneNum" pattern="[789][0-9]{9}" placeholder="Mobile*"
					title="Enter Your Mobile Num" required><label
					class="select-error">{{mc.showPhNumExist}}</label></td>
			</tr>
			<tr>
				<td><select ng-change="mc.regCastText=''"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12" name="casteID"
					ng-model="mc.regCommunity"
					ng-class="{'shrink-select' : (mc.regCommunity==='Others')}"
					required>
						<option ng-repeat="(key, val) in mc.castList | orderBy:key"
							value="{{key}}">{{val}}</option>
				</select><label class="select-error">{{mc.showCommErr}}</label> <input
					ng-model="mc.regCastText" ng-if="mc.regCommunity==='Others'"
					style="width: 150px !important" type="text"
					placeholder="Enter Your Preference*" required></td>
			</tr>
			<tr>
				<td><select ng-change="mc.regMtongueText=''"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					name="motherTongueID"
					ng-class="{'shrink-select' : (mc.regMtongue==='Others')}"
					ng-model="mc.regMtongue" required>
						<option ng-repeat="(key, val) in mc.motherTongue | orderBy:key"
							value="{{key}}">{{val}}</option>
				</select><label class="select-error">{{mc.showMothTngeErr}}</label> <input
					ng-model="mc.regMtongueText" ng-if="mc.regMtongue==='Others'"
					style="width: 150px !important" type="text"
					placeholder="Enter Your Preference*" required></td>
			<tr>
				<td><input class="check" type="checkbox" id="terms"
					name="terms" checked required > 
					<a href="#t&c"
					class="accept" style="font: 10px verdana left" style="float:left"
					style="margin:10px" ><span>I Accept Terms and Conditions</span></td>
			</tr>
			<tr>
				<td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-opt">
					<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><button
							type="submit">*Register*</button></label><br> <br>
				</td>

				<!-- <label  class="col-lg-12 col-md-12 col-sm-12 col-xs-10">or you can also </label>
			 <span>Register with</span>&emsp;
			<img src="images/facebook.png">
			<img src="images/skype.png"> -->

			</tr>
		</table>
	</form>
</div>
<!--<script>   
    $(function() {
         $( "#calendar" ).datepicker();   
    }); 
</script>-->
<style type="text/css">
.shrink-select {
	width: 75px !important;
	margin-right: 14px !important;
}

.select-error {
	color: red;
	font-size: 10px;
	float: right;
}

.check {
	margin: 1px 8px 0;
	float: left;
}

.accept {
	margin: 15px;
	float: left;
}
</style>
