<div class="top-banner">
	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 logo">
		<a ng-if="!mc.isLogged" href="#home"><img
			style="transition: width 1s;" width=180 height=68
			src="images/logo copy.png"></a> <a ng-if="mc.isLogged"
			href="#profile"><img style="transition: width 1s;" width=180
			height=68 src="images/logo copy.png"></a>
	</div>
	<!--<div class="col-lg-3 col-md-3 col-sm-3 visible-lg visible-md  app-download">-->
	<!--<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2  visible-md visible-sm visible-xs app-download">

		<h6 ng-show="true">Download</h6>
		<a ng-show="true" href=""><img src="images/android-app.png"></a>
		<a ng-show="true" href=""><img src="images/windows-app.png"></a>
		<a ng-show="true" href=""><img src="images/apple-app.png"></a>
	</div>
  <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 visible-sm app-download">
		<h6 ng-show="true">Download App</h6>
		<br> <a ng-show="true" href=""><img
			src="images/android-app.png"></a> <a ng-show="true" href=""><img
			src="images/windows-app.png"></a> <a ng-show="true" href=""><img
			src="images/apple-app.png"></a>
	</div>-->
	<!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4 visible-xs app-download" >-->
	<div
		class="col-lg-3 col-md-2 col-sm-2 col-xs-2  visible-md visible-sm visible-xs app-download">

		<h6 ng-show="true">App</h6>
		<img ng-show="true" src="images/download.png" style="cursor: pointer"
			ng-click="hc.showDownload=!hc.showDownload;hc.showMenu=false">
		<ul ng-show="true" ng-if="hc.showDownload">
			<li><a href=""><img src="images/android-app-w.png">Android</a></li>
			<li><a href=""><img src="images/windows-app-w.png">Windows</a></li>
			<li><a href=""><img src="images/apple-app-w.png">i-Phone</a></li>
		</ul>
	</div>
	<!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 search-member">
		<input ng-show="true"  type="text" ng-if="mc.isProfile" placeholder="* Enter Member ID or Name *"  required > 
		<a ng-show="true" href="#search" type="submit" ng-if="mc.isProfile" ><img src="images/search.png"></a>
	</div>-->
	<div ng-init="mc.showSupprtPO=false"
		class="col-lg-4 col-md-3 col-sm-6 col-xs-6 visible-lg top-banner-menu">
		<a data-toggle="modal" ng-click="mc.isLogged=true"
			data-target="#login-modal" ng-if="!mc.isProfile"><img
			src="images/login.png">
			<h5 ng-if="!mc.isProfile">Login</h5></a> <a ng-show="true"
			ng-click="mc.clearCache()" href="#" ng-if="mc.isProfile"><img
			src="images/logout.png">
			<h5 ng-show="true" ng-if="mc.isProfile">Logout</h5></a> <a ng-show="true"
			href="#profile" ng-if="mc.isProfile"><img src="images/user.png">
			<h5 ng-show="true" ng-if="mc.isProfile">Hi, Admin</h5></a> <a
			ng-mouseover="mc.showSupprtPO=true"
			ng-mouseout="mc.showSupprtPO=false"><img src="images/support.png">
			<h5>Support</h5></a>
		<div ng-if="mc.showSupprtPO" class="sup-ex">
			<label> +91-9500630242 <br> +91-7200141323 <br>
				Mail us : admin@indiazbridal.com
			</label>
		</div>

	</div>
	<div
		class="col-lg-3 col-md-2 col-sm-2 col-xs-2  visible-md visible-sm visible-xs top-banner-menu">
		<h6 ng-show="true">Menu</h6>
		<img ng-show="true" src="images/menu.png"
			style="cursor: pointer; text-align: center;"
			ng-click="hc.showMenu=!hc.showMenu;hc.showDownload=true">
		<ul ng-show="true" ng-if="hc.showMenu">

			<!--<li><a href=""><img src="images/login.png"></a>
				<h5>Login</h5></li>
			<li><a href=""><img src="images/support.png"></a>
				<h5>Support</h5></li>
			<li><a href=""><img src="images/settings.png"></a>
				<h5>Service</h5></li>-->

			<!--Login-->
			<li><a data-toggle="modal" ng-click="mc.isLogged=true"
				data-target="#login-modal" ng-if="!mc.isProfile"><img
					src="images/login.png">
					<h5 ng-if="!mc.isProfile">Login</h5></a></li>

			<!--Home-->
			<li><a href="#profile" ng-if="mc.isProfile"
				ng-class="(isNav1)? 'active':''"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=false;isNav5=false;mc.$rootScope.activeNav='';mc.scrollToTop()"><img
					src="images/home.png">
					<h5 ng-show="true" ng-class="(isNav1)? 'active':''">Home</h5></a></li>

			<!--Support-->
			<li><a href="" ng-mouseover="mc.showSupprtPO=true"
				ng-mouseout="mc.showSupprtPO=false"><img
					src="images/support.png">
					<h5>Support</h5></a>
				<div ng-if="mc.showSupprtPO" class="sup-ex">
					<label> +91-9500630242 <br> +91-7200141323 <br>
						Mail : admin@indiazbridal.com
					</label>
				</div></li>

			<!--Inbox-->
			<li><a href="#inbox" ng-if="mc.isProfile"
				ng-click="isNav1=true;isNav2=true;isNav3=false;isNav4=false;isNav5=false;mc.$rootScope.activeNav='Inbox > Invitations';mc.scrollToTop()"><img
					src="images/inbox.png">
					<h5 ng-show="true" ng-class="(isNav2)? 'active':''">Inbox</h5></a></li>

			<!--Service-->
			<li><a href=""><img src="images/settings.png">
					<h5>Service</h5></li>
			</a>

			<!--Matches-->
			<li><a href="" ng-if="mc.isProfile"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=true;isNav5=false;mc.$rootScope.activeNav='Matches';mc.scrollToTop()"><img
					src="images/hearts.png">
					<h5 ng-show="true" ng-class="(isNav4)? 'active':''">Matches</h5></a></li>

			<!--Hi, Admin-->
			<li><a ng-show="true" href="#profile" ng-if="mc.isProfile"><img
					src="images/user.png">
					<h5 ng-show="true" ng-if="mc.isProfile">Hi, Admin</h5></a></li>

			<!--Profiles-->
			<li><a href="#search" ng-if="mc.isProfile"
				ng-click="isNav1=true;isNav2=false;isNav3=true;isNav4=false;isNav5=false;mc.$rootScope.activeNav='Search';mc.scrollToTop()"><img
					src="images/search.png">
					<h5 ng-show="true" ng-class="(isNav3)? 'active':''">Profiles</h5></a></li>

			<!--Logout-->
			<li><a ng-show="true" ng-click="mc.clearCache()" href="#"
				ng-if="mc.isProfile"><img src="images/logout.png">
					<h5 ng-show="true" ng-if="mc.isProfile">Logout</h5></a></li>

			<!--Short-listed Profile-->
			<li><a href="" ng-if="mc.isProfile"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=false;isNav5=true;mc.$rootScope.activeNav='Shortlists';mc.scrollToTop()"><img
					src="images/shortList.png">
					<h5 ng-show="true" ng-class="(isNav5)? 'active':''">Shortlists</h5></a></li>
		</ul>
	</div>
	<div
		ng-if="(mc.isProfile&&!mc.isFooter&&mc.isLogged) || mc.$rootScope.showSubBar"
		class="profile-nav col-lg-12"
		ng-init="isNav1=true;isNav2=false;isNav3=false;isNav4=false;isNav5=false;">
		<div class="col-lg-11 profile-options" style="margin: 11px">
			<!--<label style="float:left;margin-left:-100px;color:#fff;margin-top: 10px;font-size: 12px;">
				<img ng-if="mc.$location.$$url!=='/profile'" src="images/back-white.png" ng-click="mc.navBack()"> 
				<img ng-if="mc.$location.$$url==='/profile'" src="images/back_white_disabled.png" > 
			</label>
    		<label style="float:left;margin-left:-65px;color:#fff;margin-top: 10px;font-size: 12px;">
    			<img ng-if="mc.showForward" src="images/forward-white.png" ng-click="mc.navFront()" > 
    			<img ng-if="!mc.showForward" src="images/forward-white-disabled.png" > 
    		</label> -->
			<span ng-class="(isNav1)? 'active':''"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=false;isNav5=false;mc.$rootScope.activeNav='';mc.scrollToTop()">
				<a href="#profile"><img src="images/home.png"></a>
			</span> <span ng-show="true" ng-class="(isNav2)? 'active':''"
				ng-click="isNav1=true;isNav2=true;isNav3=false;isNav4=false;isNav5=false;mc.$rootScope.activeNav='Inbox > Invitations';mc.scrollToTop()">
				<a href="#inbox"><img src="images/inbox.png">Inbox</a>
			</span> <span ng-class="(isNav3)? 'active':''"
				ng-click="isNav1=true;isNav2=false;isNav3=true;isNav4=false;isNav5=false;mc.$rootScope.activeNav='Search';mc.scrollToTop()">
				<a href="#search"><img src="images/search.png">Profiles</a>
			</span> <span ng-show="true" ng-class="(isNav4)? 'active':''"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=true;isNav5=false;mc.$rootScope.activeNav='Matches';mc.scrollToTop()">
				<a href=""><img src="images/hearts.png">Matches</a>
			</span> <span ng-class="(isNav5)? 'active':''"
				ng-click="isNav1=true;isNav2=false;isNav3=false;isNav4=false;isNav5=true;mc.$rootScope.activeNav='Shortlists';mc.scrollToTop()">
				<a href=""><img src="images/shortList.png">Shortlists</a>
			</span>
		</div>
	</div>
</div>
<style>
.sup-ex {
	width: 270px;
	height: 100px;
	position: absolute;
	right: 0px;
	background: rgba(62, 56, 45, 0.86);
	top: 88px;
	transition: display 1s;
	border-bottom-left-radius: 30px;
	z-index: 10;
}

.sup-ex label {
	color: #ffc54a;
	padding: 33px 13px;
	font-weight: normal;
}
</style>